<nb-card>
  <nb-card-header>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div>
        <h6>{{ user.name }}</h6>
      </div>

      <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-0">
        <button (click)="edit.emit(this.user)" nbButton outline status="success" class="mx-2">
          <nb-icon icon="edit-2-outline"></nb-icon>
        </button>

        <button (click)="delete.emit(this.user)" nbButton outline status="danger" class="mx-2">
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <p class="mb-3">{{ 'assigned-tasks' | translate }} ({{ user.taskIds.length }})</p>

    @if (user.taskIds.length) {
      <nb-list class="assigned-tasks">
        @for (task of tasks; track $index) {
          <nb-list-item class="assigned-tasks__item">
            <div
              class="w-100 d-flex flex-column flex-sm-row justify-content-between align-items-center">
              <span>
                <b>{{ task.name }}</b>
              </span>

              <app-task-status [state]="task.state"></app-task-status>
            </div>
          </nb-list-item>
        }
      </nb-list>
    } @else {
      <p>{{ 'no-assigned-tasks' | translate }}</p>
    }
  </nb-card-body>
</nb-card>
