<nb-layout>
  <nb-layout-header fixed>
    <div class="app-header">
      <div class="d-flex">
        <figure class="app-logo">
          <img src="/assets/img/logo.svg" alt="Main Logo" />
        </figure>

        <div class="d-flex flex-column">
          <h5>{{ 'title' | translate }}</h5>

          <p>{{ 'subtitle' | translate }}</p>
        </div>
      </div>

      <div class="app-lang">
        <nb-icon icon="globe-2-outline"></nb-icon>

        <nb-select
          shape="round"
          [selected]="langList[0].value"
          (selectedChange)="onLangSelect($event)"
          class="lang__select">
          @for (item of langList; track $index) {
            <nb-option [value]="item.value">{{ item.label }}</nb-option>
          }
        </nb-select>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="app-container">
      <router-outlet />
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span class="app-footer">{{ 'footer-message' | translate }}</span>
  </nb-layout-footer>
</nb-layout>
