<nb-card>
  <nb-card-header>
    <div class="d-flex align-items-center justify-content-between w-100">
      <div>
        <h6>{{ task.name }}</h6>

        <nb-tag
          status="primary"
          appearance="outline"
          [text]="taskStateMap[task.state] | translate"
          class="mt-2"></nb-tag>
      </div>

      <div class="d-flex">
        <button nbButton outline status="success" class="mx-2">
          <nb-icon icon="edit-2-outline"></nb-icon>
        </button>

        <button (click)="onCardDeleteClick()" nbButton outline status="danger" class="mx-2">
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <span>{{ task.desc }}</span>
  </nb-card-body>

  <nb-card-footer>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <span class="card-date">
          <b>{{ 'created' | translate }}</b>
        </span>

        <span class="card-date">{{ task.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>

      <div class="d-flex flex-column">
        <span class="card-date">
          <b>{{ 'modified' | translate }}</b>
        </span>

        <span class="card-date">{{ task.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
