<div class="list-header">
  <h6>{{ 'tasks' | translate }}</h6>

  <button nbButton status="primary" size="medium" (click)="onCreateTask(taskFormDialog)">
    <nb-icon icon="plus-outline"></nb-icon>

    <span>{{ 'create-task' | translate }}</span>
  </button>
</div>

<!-- Create/edit task dialog -->
<ng-template #taskFormDialog let-data let-ref="dialogRef">
  <nb-card class="form-dialog">
    <nb-card-header>
      @if (isEditMode) {
        <h6>{{ 'edit-task' | translate }}</h6>
      } @else {
        <h6>{{ 'create-task' | translate }}</h6>
      }
    </nb-card-header>

    <nb-card-body>
      <form [formGroup]="taskForm" class="d-grid row-gap-4">
        <div>
          <label class="fs-7 fw-bold mb-1" for="createTaskName">{{
            'task-name' | translate
          }}</label>

          <div class="position-relative">
            <input
              [formControl]="taskForm.controls.name"
              id="createTaskName"
              type="text"
              nbInput
              fullWidth
              shape="rectangle"
              [placeholder]="'enter-task-name' | translate"
              status="primary" />

            @if (taskForm.controls.name.touched || taskForm.controls.name.dirty) {
              @if (taskForm.controls.name.errors?.['required']) {
                <small class="form-error">{{ 'errors.name-required' | translate }}</small>
              } @else if (taskForm.controls.name.errors?.['minlength']) {
                <small class="form-error">{{ 'errors.name-too-short' | translate }}</small>
              }
            }
          </div>
        </div>

        <div>
          <label class="fs-7 fw-bold mb-1" for="createTaskDesc">{{ 'desc' | translate }}</label>

          <div class="position-relative">
            <input
              [formControl]="taskForm.controls.desc"
              id="createTaskDesc"
              type="text"
              nbInput
              fullWidth
              shape="rectangle"
              [placeholder]="'enter-task-desc' | translate"
              status="primary" />

            @if (taskForm.controls.desc.touched || taskForm.controls.desc.dirty) {
              @if (taskForm.controls.desc.errors?.['required']) {
                <small class="form-error">{{ 'errors.desc-required' | translate }}</small>
              } @else if (taskForm.controls.desc.errors?.['minlength']) {
                <small class="form-error">{{ 'errors.desc-too-short' | translate }}</small>
              }
            }
          </div>
        </div>

        @if (users$ | async; as users) {
          @if (users.length) {
            <div class="d-flex flex-column">
              <label class="fs-7 fw-bold mb-1" for="createTaskUser">{{ 'user' | translate }}</label>

              <div class="position-relative">
                <nb-select
                  [formControl]="taskForm.controls.userId"
                  [placeholder]="'select-user' | translate"
                  status="primary"
                  id="createTaskUser"
                  fullWidth="true">
                  @for (user of users; track $index) {
                    <nb-option [value]="user.id">{{ user.name }}</nb-option>
                  }
                </nb-select>
              </div>
            </div>
          }
        }

        @if (isEditMode) {
          <div class="d-flex flex-column">
            <label class="fs-7 fw-bold mb-1" for="createTaskUser">{{ 'state' | translate }}</label>

            <div class="position-relative">
              <nb-select
                [formControl]="taskForm.controls.state"
                status="primary"
                id="createTaskUser"
                fullWidth="true">
                @for (state of taskStateMap | keyvalue; track $index) {
                  <nb-option [value]="state.key">{{ state.value | translate }}</nb-option>
                }
              </nb-select>

              @if (taskForm.controls.state.disabled) {
                <small>{{ 'state-message' | translate }}</small>
              }
            </div>
          </div>
        }
      </form>
    </nb-card-body>

    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <button nbButton (click)="ref.close(null)">{{ 'cancel' | translate }}</button>
        <button
          [disabled]="!taskForm.valid"
          nbButton
          outline
          status="success"
          (click)="ref.close(taskForm.value)">
          @if (isEditMode) {
            {{ 'update' | translate }}
          } @else {
            {{ 'create' | translate }}
          }
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Delete task dialog -->
<ng-template #deleteTaskDialog let-data let-ref="dialogRef">
  <nb-card class="form-dialog">
    <nb-card-header>
      <div class="d-flex align-items-center">
        <nb-icon icon="alert-circle-outline" class="me-2"></nb-icon>
        <h6>{{ 'delete-task' | translate }}</h6>
      </div>
    </nb-card-header>

    <nb-card-body>
      <span class="d-flex justify-content-center py-3">{{
        'delete-task-message' | translate
      }}</span>
    </nb-card-body>

    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <button nbButton (click)="ref.close(false)">{{ 'cancel' | translate }}</button>
        <button nbButton outline status="danger" (click)="ref.close(true)">
          {{ 'delete' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

@if (tasks$ | async; as tasks) {
  @if (tasks.length) {
    <ul>
      @for (task of tasks; track $index) {
        <li>
          <app-task-card
            [task]="task"
            (delete)="onDeleteTask($event, deleteTaskDialog)"
            (edit)="onEditTask($event, taskFormDialog)"></app-task-card>
        </li>
      }
    </ul>
  } @else {
    <nb-card>
      <nb-card-body>
        <div class="d-flex justify-content-center align-items-center">
          <nb-icon icon="alert-circle-outline" class="me-2"></nb-icon>

          <span class="d-flex justify-content-center py-3">{{ 'no-tasks' | translate }}</span>
        </div>
      </nb-card-body>
    </nb-card>
  }
}
